# Ignore .tiff files
*.tiff
*.RData
*.Rhistory
*.docx
*.zip
*.jpg
*.eps


# Ignore the following directories and files
data_reanalysis/
elevation/
.Rproj.user/
data_ground/met_data/STRI_data/
.Rhistory

.Rproj.user
